<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
    
    <title>Login</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>
    
    <section class="container">
        <section class="login-form">
        <form form action="/login" method="post" role="login">
            <h3><b>Login</h3>
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" name="username" placeholder="User" required class="form-control input-lg" />
                    <span class="fa fa-user"></span>
                </div>
                <div class="col-xs-12">
                    <input type="password" name="password" placeholder="Password" required class="form-control input-lg" />
                    <span class="fa fa-lock"></span>
                </div>
            </div>
            <button type="submit" name="go" class="btn btn-lg btn-block btn-success">SIGN IN</button>
                        <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
        </form>
        </section>
    </section>
</body>
</html>